/*hash.css*/



.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color:#e1e8ed;
}

.main-panel{
	height:100%;
	width:100%;
	position: fixed;
	display: none;
	background-color: 	rgb(223,227,238);
}

.dropzone{
	height:100%;
	width:100%;
	position: fixed;
	display: block;
	cursor: pointer;
    transition: background-color 0.5s;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.dropzone:hover {
 background-color: gainsboro !important;
}

#dropzone {
 
 float: left;
 width:570px;
 position:absolute;
 z-index:-1000;
 margin-left:120px;
 margin-top:30px;
 border-radius:20px;

}

#searchbar {
    width: 220px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 13px 13px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchbar:focus {
    width: 400px;
}


.main-btn {
	border-radius: 50px; 
	cursor: pointer;
	transition: background-color 0.5s;
}

.main-btn:hover {
    background-color: rgba(23, 241, 150, 0.88) !important;
}

